* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover{
  text-decoration: none;
  color: black;
  transition: 2s;
  text-shadow: black 0px 0px 2px;
}

p {
  color:#b2dfdb; 
  font-size: 13px;
}

h2 {
  font-family: 'Satisfy';
}

